# Default
.changeset/**
.github/**
.husky/**
.vscode/**
coverage/**
node_modules/**
src/**
scripts/**
.gitignore
esbuild.js
jest.*
**/tsconfig.json
**/.eslintrc.json
.prettierignore
**/*.map
**/*.ts
**/.gitignore

# Custom
.env.sample
.git-blame-ignore-revs
.gitconfig
.gitattributes
.tool-versions
.vite-port
.nvmrc
.clinerules*
.roomodes
.rooignore
.roo/**
benchmark/**
docs/**
e2e/**
evals/**
locales/**
out/**
ellipsis.yaml
knip.json

images/**

src/i18n/locales/es 
src/i18n/locales/fr 
src/i18n/locales/hi 
src/i18n/locales/it 
src/i18n/locales/ja 
src/i18n/locales/ko 
src/i18n/locales/nl 
src/i18n/locales/pl 
src/i18n/locales/pt-BR 
src/i18n/locales/ru 
src/i18n/locales/tr 
src/i18n/locales/vi 
src/i18n/locales/ca 
src/i18n/locales/de

zgsm/webview-ui/src/i18n/locales/es 
zgsm/webview-ui/src/i18n/locales/fr 
zgsm/webview-ui/src/i18n/locales/hi 
zgsm/webview-ui/src/i18n/locales/it 
zgsm/webview-ui/src/i18n/locales/ja 
zgsm/webview-ui/src/i18n/locales/ko 
zgsm/webview-ui/src/i18n/locales/nl 
zgsm/webview-ui/src/i18n/locales/pl 
zgsm/webview-ui/src/i18n/locales/pt-BR 
zgsm/webview-ui/src/i18n/locales/ru 
zgsm/webview-ui/src/i18n/locales/tr 
zgsm/webview-ui/src/i18n/locales/vi 
zgsm/webview-ui/src/i18n/locales/ca 
zgsm/webview-ui/src/i18n/locales/de

assets/images/readme
assets/images/install

# Ignore all webview-ui files except the build directory.
# https://github.com/microsoft/vscode-webview-ui-toolkit-samples/blob/main/frameworks/hello-world-react-cra/.vscodeignore
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**

# Include codicons
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf

# Include material icons
!node_modules/vscode-material-icons/generated/**

# Include default themes JSON files used in getTheme
!src/integrations/theme/default-themes/**

# Ignore doc assets
assets/docs/**

# Exclude specific NLS files
package.nls.es.json
package.nls.fr.json
package.nls.hi.json
package.nls.it.json
package.nls.ja.json
package.nls.ko.json
package.nls.nl.json
package.nls.pl.json
package.nls.pt-BR.json
package.nls.ru.json
package.nls.tr.json
package.nls.vi.json
package.nls.ca.json
package.nls.de.json

# # Include icons and images
!assets/images/shenma_robot_logo_big.png
!assets/images/shenma_help_icon_lightmode.svg
!assets/images/shenma_help_icon_darkmode.svg
!assets/images/shenma_logout_icon_lightmode.svg
!assets/images/shenma_logout_icon_darkmode.svg
!assets/images/issue.svg
!assets/images/issue-dark.svg
!assets/images/shenma_logo_icon.woff

# Include .env file for telemetry
!.env

# Ignore IntelliJ and Qodo plugin folders
.idea/**
.qodo/**
